header {
  background-color: #5c5c5c;
}

h1 {
  color: #070606;
  font-size: 24px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
}